h1{
    color:rgb(226, 214, 214);
    background-color:rgb(0, 0, 0);
    font-size: 45.7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1;
    font-style: italic;
    text-align: center;
}