h1 {
    color: rgb(250, 5, 5);
    background-color: rgb(0, 0, 6);
}
h2{
    color:aqua
}

h3{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;

}
div{
    font-size: 40px;
    font-style: italic;
}
div{
    height: 10px;
    background-color: red;
    width: 10px;
}